In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(123)

|             | $H_{0}$ is True   | $H_{0}$ is False   |
| ----------- | :---              |           ---:     |
| Accept H(0) | True Negative     | False Positive     |
| Reject H(0) | False Negative    | True Positive      |

Null:                     $H_{0}$

Alternative Hypothesis:   $H_{A}$
    
True Positive:            $H_{0} = TRUE$

True Negative:            $H_{0} = TRUE$

Type I(False Positive):   $H(FP)$

Type II(False Negative):  $H(FN)$

<div class="alert alert-block alert-info">

# **Hypothesis**

### Cases
- No Change
- Increased
- Decreased
</div>

# For each of the following questions,
- formulate a null and 
- alternative hypothesis (be as specific as you can be),
- then give an example of what a true positive, 
- true negative, 
- type I and 
- type II errors would look like.

Note that some of the questions are intentionally phrased in a vague way.
It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

In [1]:
# Null = Latency has remained the same or worse
# Alt  = Latency has increased.

# True Positive = Rejected Null & Null = False
# True Negative = 
# Type I
# Type II

Is the website redesign any good?

In [4]:
# Null = Traffic is the same or lower
# Null = Traffic increased

# True Positive =
# True Negative = 
# False Positive = H(0) Higher Click Rate but there was not
# Flase Neg = H(0) No increase but actually there was
# Type I
# Type II

Is our television ad driving more sales?

In [ ]:
# H(0) = Sales stayed the same or lower
# H(A) = Sales increased

# True Positive =
# True Negative = 
# Type I
# Type II

---

# Exercises II

#### Answer with the type of test you would use (assume normal distribution):

- Is there a difference in grades of students on the second floor compared to grades of all students?

In [ ]:
students_grades_first != stundents_grades_second

- Are adults who drink milk taller than adults who dont drink milk?

In [ ]:
adult_milk_height > adult_no_milk_height

- Is the the price of gas higher in texas or in new mexico?

In [ ]:
gas_price < tx_gas  |  gas_price < nm_gas

- Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

In [ ]:
students_ds_stress != students_wd_stress != students_ca_stress

#### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [ ]:
ace_realty_office_1_sells_mean != ace_realty_office_2_sells_mean

In [ ]:
ace_realty_office_1_sells_mean = 90
ace_realty_office_1_sells_std = 15
ace_realty_office_1_sells_size = 40
ace_realty_office_2_sells_mean = 100
ace_realty_office_2_sells_std = 20
ace_realty_office_2_sells_size = 50

#### Load the mpg dataset and use it to answer the following questions:

In [29]:
from pydataset import data
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [30]:
mpg.isna().sum()

manufacturer    0
model           0
displ           0
year            0
cyl             0
trans           0
drv             0
cty             0
hwy             0
fl              0
class           0
dtype: int64

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [27]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

- Do manual cars get better gas mileage than automatic cars?

In [59]:
manual_car = mpg[mpg['trans'].str.contains('manual')]

manual_car_combined_mileage = (manual_car['cty']) + (manual_car['hwy']/2)
manual_car_combined_mileage_mean = manual_car_combined_mileage.mean()
manual_car_combined_mileage_mean

31.564935064935064

In [60]:
automatic_car = mpg[mpg['trans'].str.contains('auto')]

automatic_car_combined_mileage = (automatic_car['cty']) + (automatic_car['hwy']/2)
automatic_car_combined_mileage_mean = automatic_car_combined_mileage.mean()
automatic_car_combined_mileage_mean

27.11464968152866

- Are compact cars more fuel-efficient than the average car?

In [48]:
compacts_car = mpg[mpg['class'] == 'compact']
compacts_car_combined_mileage=compacts['cty']+compacts['hwy']/2
compacts_car_combined_mileage_mean=compacts_combined_mileage.mean()
compacts_car_combined_mileage_mean

34.276595744680854

In [49]:
normal_car = mpg[mpg['class'] != 'compact']
normal_car_combined_mileage = (normal_car['cty']) + (normal_car['hwy']/2)
normal_car_combined_mileage_mean = normal_car_combined_mileage.mean()
normal_car_combined_mileage_mean

27.147058823529413